@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-bg-base {
	@apply bg-gradient-to-br from-slate-100/25 to-slate-100 dark:from-slate-800/25 dark:to-slate-800;
}

input {
	@apply bg-transparent focus:outline-none;
}

@layer base {
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

/* * {
	outline: 1px solid red;
} */
